{{/* Copyright 2018 Team 254. All Rights Reserved. Author: pat@patfairbank.com (Patrick Fairbank) UI for testing the
game sounds and the LEDs and PLC connected to the field. */}} {{define "title"}}Field Testing{{end}} {{define "body"}}
<div class="row justify-content-center">
  <div class="col-lg-3">
    <div class="card card-body bg-body-tertiary">
      <legend>Game Sounds</legend>
      {{range $sound := .MatchSounds}}
      <p>
        <button type="button" class="btn btn-sm btn-primary btn-game-sound" onclick="playSound('{{$sound.Name}}');">
          <i class="bi-play-fill"></i>&nbsp;&nbsp;{{toUpper $sound.Name}}
        </button>
      </p>
      {{end}}
    </div>
    <div class="card card-body bg-body-tertiary mt-3">
      <legend>Hub LEDs</legend>
      <table class="table">
        <tr>
          <th class="bg-body-tertiary">Universe</th>
          <th class="bg-body-tertiary">RGB Value</th>
        </tr>
        <tr>
          <td class="bg-body-tertiary">1 (Red)</td>
          <td class="bg-body-tertiary" id="hubLedRed">
            rgb({{.RedHubColor.R}}, {{.RedHubColor.G}}, {{.RedHubColor.B}})
          </td>
        </tr>
        <tr>
          <td class="bg-body-tertiary">2 (Blue)</td>
          <td class="bg-body-tertiary" id="hubLedBlue">
            rgb({{.BlueHubColor.R}}, {{.BlueHubColor.G}}, {{.BlueHubColor.B}})
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="card card-body bg-body-tertiary">
      <legend>PLC</legend>
      <div class="row">
        <div class="col-lg-4">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Inputs</th>
            </tr>
            {{range $i, $name := .InputNames}}
            <tr>
              <td class="bg-body-tertiary">{{$name}}</td>
              <td class="bg-body-tertiary" id="input{{$i}}" data-plc-value="false"></td>
            </tr>
            {{end}}
          </table>
        </div>
        <div class="col-lg-4">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Registers</th>
            </tr>
            {{range $i, $name := .RegisterNames}}
            <tr>
              <td class="bg-body-tertiary">{{$name}}</td>
              <td class="bg-body-tertiary" id="register{{$i}}"></td>
            </tr>
            {{end}}
          </table>
        </div>
        <div class="col-lg-4">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Coils</th>
            </tr>
            {{range $i, $name := .CoilNames}}
            <tr>
              <td class="bg-body-tertiary">{{$name}}</td>
              <td class="bg-body-tertiary" id="coil{{$i}}" data-plc-value="false"></td>
            </tr>
            {{end}}
          </table>
        </div>
      </div>
    </div>

    <!-- ESP32: Score Table -->
    <div class="card card-body bg-body-tertiary mt-3">
      <legend>ESP32: Score Table</legend>
      <div class="row">
        <div class="col-lg-6">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Status</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Configured</td>
              <td class="bg-body-tertiary" id="espScoreTableConfigured">—</td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Connected</td>
              <td class="bg-body-tertiary" id="espScoreTableConnected" data-plc-value="false">—</td>
            </tr>
          </table>
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Inputs (from ESP32)</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Field E-Stop</td>
              <td class="bg-body-tertiary" id="espScoreTableFieldEStop" data-plc-value="false"></td>
            </tr>
          </table>
        </div>
        <div class="col-lg-6">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Outputs (to ESP32)</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Red</td>
              <td class="bg-body-tertiary" id="espScoreTableStackRed" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Blue</td>
              <td class="bg-body-tertiary" id="espScoreTableStackBlue" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Orange</td>
              <td class="bg-body-tertiary" id="espScoreTableStackOrange" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Green</td>
              <td class="bg-body-tertiary" id="espScoreTableStackGreen" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Buzzer</td>
              <td class="bg-body-tertiary" id="espScoreTableStackBuzzer" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Match State</td>
              <td class="bg-body-tertiary" id="espScoreTableMatchState">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- ESP32: Red Estops -->
    <div class="card card-body bg-body-tertiary mt-3">
      <legend>ESP32: Red Estops</legend>
      <div class="row">
        <div class="col-lg-6">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Status</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Configured</td>
              <td class="bg-body-tertiary" id="espRedEstopsConfigured">—</td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Connected</td>
              <td class="bg-body-tertiary" id="espRedEstopsConnected" data-plc-value="false">—</td>
            </tr>
          </table>
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Inputs (from ESP32)</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 1 E-Stop</td>
              <td class="bg-body-tertiary" id="espRedEstopsEStop0" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 2 E-Stop</td>
              <td class="bg-body-tertiary" id="espRedEstopsEStop1" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 3 E-Stop</td>
              <td class="bg-body-tertiary" id="espRedEstopsEStop2" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 1 A-Stop</td>
              <td class="bg-body-tertiary" id="espRedEstopsAStop0" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 2 A-Stop</td>
              <td class="bg-body-tertiary" id="espRedEstopsAStop1" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 3 A-Stop</td>
              <td class="bg-body-tertiary" id="espRedEstopsAStop2" data-plc-value="false"></td>
            </tr>
          </table>
        </div>
        <div class="col-lg-6">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Outputs (to ESP32)</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Red</td>
              <td class="bg-body-tertiary" id="espRedEstopsStackRed" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Blue</td>
              <td class="bg-body-tertiary" id="espRedEstopsStackBlue" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Orange</td>
              <td class="bg-body-tertiary" id="espRedEstopsStackOrange" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Green</td>
              <td class="bg-body-tertiary" id="espRedEstopsStackGreen" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Buzzer</td>
              <td class="bg-body-tertiary" id="espRedEstopsStackBuzzer" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Match State</td>
              <td class="bg-body-tertiary" id="espRedEstopsMatchState">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- ESP32: Blue Estops -->
    <div class="card card-body bg-body-tertiary mt-3">
      <legend>ESP32: Blue Estops</legend>
      <div class="row">
        <div class="col-lg-6">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Status</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Configured</td>
              <td class="bg-body-tertiary" id="espBlueEstopsConfigured">—</td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Connected</td>
              <td class="bg-body-tertiary" id="espBlueEstopsConnected" data-plc-value="false">—</td>
            </tr>
          </table>
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Inputs (from ESP32)</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 1 E-Stop</td>
              <td class="bg-body-tertiary" id="espBlueEstopsEStop0" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 2 E-Stop</td>
              <td class="bg-body-tertiary" id="espBlueEstopsEStop1" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 3 E-Stop</td>
              <td class="bg-body-tertiary" id="espBlueEstopsEStop2" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 1 A-Stop</td>
              <td class="bg-body-tertiary" id="espBlueEstopsAStop0" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 2 A-Stop</td>
              <td class="bg-body-tertiary" id="espBlueEstopsAStop1" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Station 3 A-Stop</td>
              <td class="bg-body-tertiary" id="espBlueEstopsAStop2" data-plc-value="false"></td>
            </tr>
          </table>
        </div>
        <div class="col-lg-6">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Outputs (to ESP32)</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Red</td>
              <td class="bg-body-tertiary" id="espBlueEstopsStackRed" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Blue</td>
              <td class="bg-body-tertiary" id="espBlueEstopsStackBlue" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Orange</td>
              <td class="bg-body-tertiary" id="espBlueEstopsStackOrange" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Green</td>
              <td class="bg-body-tertiary" id="espBlueEstopsStackGreen" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Stack Buzzer</td>
              <td class="bg-body-tertiary" id="espBlueEstopsStackBuzzer" data-plc-value="false"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Match State</td>
              <td class="bg-body-tertiary" id="espBlueEstopsMatchState">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- ESP32: Red Hub -->
    <div class="card card-body bg-body-tertiary mt-3">
      <legend>ESP32: Red Hub</legend>
      <div class="row">
        <div class="col-lg-6">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Status</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Configured</td>
              <td class="bg-body-tertiary" id="espRedHubConfigured">—</td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Connected</td>
              <td class="bg-body-tertiary" id="espRedHubConnected" data-plc-value="false">—</td>
            </tr>
          </table>
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Inputs (from ESP32)</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Score</td>
              <td class="bg-body-tertiary" id="espRedHubScore">0</td>
            </tr>
          </table>
        </div>
        <div class="col-lg-6">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Outputs (to ESP32)</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Hub State</td>
              <td class="bg-body-tertiary" id="espRedHubHubState"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Motor Duty</td>
              <td class="bg-body-tertiary" id="espRedHubMotorDuty">0</td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Led Pattern</td>
              <td class="bg-body-tertiary" id="espRedHubLedPattern">—</td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Match State</td>
              <td class="bg-body-tertiary" id="espRedHubMatchState">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- ESP32: Blue Hub -->
    <div class="card card-body bg-body-tertiary mt-3">
      <legend>ESP32: Blue Hub</legend>
      <div class="row">
        <div class="col-lg-6">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Status</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Configured</td>
              <td class="bg-body-tertiary" id="espBlueHubConfigured">—</td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Connected</td>
              <td class="bg-body-tertiary" id="espBlueHubConnected" data-plc-value="false">—</td>
            </tr>
          </table>
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Inputs (from ESP32)</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Score</td>
              <td class="bg-body-tertiary" id="espBlueHubScore">0</td>
            </tr>
          </table>
        </div>
        <div class="col-lg-6">
          <table class="table">
            <tr>
              <th class="bg-body-tertiary" colspan="2">Outputs (to ESP32)</th>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Hub State</td>
              <td class="bg-body-tertiary" id="espBlueHubHubState"></td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Motor Duty</td>
              <td class="bg-body-tertiary" id="espBlueHubMotorDuty">0</td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Led Pattern</td>
              <td class="bg-body-tertiary" id="espBlueHubLedPattern">—</td>
            </tr>
            <tr>
              <td class="bg-body-tertiary">Match State</td>
              <td class="bg-body-tertiary" id="espBlueHubMatchState">0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}} {{define "script"}}
<script src="/static/js/setup_field_testing.js"></script>
{{end}}
